openapi: 3.0.0
info:
  description: Parvaeres magic deployment API
  title: Parvaeres API
  version: 0.0.1
servers:
- description: Here we go, let's make this happen!
  url: http://api.alpha.parvaeres.io/v1
paths:
  /deployment:
    description: This resource represents the deployments in the system
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
        description: Repository and email address in an HTML form
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeploymentResponse'
          description: Accepted
      summary: Create a new deployment
    summary: Deployments
  /deployment/{deploymentId}:
    description: This resource represents an individual deployment
    get:
      parameters:
      - description: the id of the deployment to retrieve
        explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentStatus'
          description: OK
      summary: Get the deployment with id deploymentId
    summary: A deployment
components:
  schemas:
    CreateDeploymentRequest:
      properties:
        Email:
          type: string
        Repository:
          type: string
      type: object
    CreateDeploymentResponse:
      example:
        Message: Message
        Error: true
        Items:
        - '{}'
        - '{}'
      properties:
        Message:
          type: string
        Error:
          type: boolean
        Items:
          items:
            allOf:
            - $ref: '#/components/schemas/DeploymentStatus'
            type: object
          type: array
      type: object
    DeploymentStatus:
      example:
        Status: PENDING
        Errors:
        - Errors
        - Errors
        LiveURLs:
        - LiveURLs
        - LiveURLs
      properties:
        Status:
          enum:
          - PENDING
          - SYNCING
          - DEPLOYED
          - ERROR
          type: string
        LiveURLs:
          items:
            type: string
          type: array
        Errors:
          items:
            type: string
          type: array
      type: object
